<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Food_Recipe.Properties.Settings.MyFoodRecipeConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=MyFoodRecipe;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Food_Recipe.Properties.Settings.MS01ConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=MS01;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="MS01Entities" connectionString="metadata=res://*/MS01.csdl|res://*/MS01.ssdl|res://*/MS01.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=MS01;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MS01Entities1" connectionString="metadata=res://*/MS01.csdl|res://*/MS01.ssdl|res://*/MS01.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=MS01;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MS02Entities" connectionString="metadata=res://*/MS02.csdl|res://*/MS02.ssdl|res://*/MS02.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=MS02;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="ShowSplash" value="True" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>